:root{
    --darkgrey:hsl(210, 10%, 33%);
    --strongcyan:#26baa4;
    --lightblue:#6173ff;
    --grayblue:hsl(201, 11%, 66%);
}

html{
    height: 100%;
}


body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    min-height: 100%;

}

h2, h1{
    font-weight: 600;
    padding-bottom: 1rem;
    padding: 1rem 2rem .5rem;
}

p{
    font-size: 14px;
    padding: 0 2.5rem;
    color: var(--grayblue);
}
/* Whole project */
.container{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background-image: url('../images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-size: contain;


}
/* Header Section */
.header{
    padding-top: 6rem;
}

.header .logo{
    width: 6rem;
    padding-bottom: 10%;
}


.device-logo{
    width: 19rem;
    margin: 2rem 0;
}


/* Access Content */
.access-content{
    margin-top: 10rem;
}

.access-content .device-logo{
    margin-bottom: 5rem;
}


.icons{
    margin-top: 5rem;
}

.icons .icon{
    margin-bottom: 1rem;
}

/* Companies Section */
.companies{
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.companies img{
    margin-top: 5rem;
    width: 7rem;
}

.companies img:last-child{
    margin-bottom: 1rem;

}

/* Buttons */
.download-button{
    display: grid;
    gap: 1.5rem;
    margin: 3rem 1rem 7rem;
}

.btn-ios {
    border-radius: 25px;
    box-shadow: 0px 2px 3px #26baa4;
    color: #ffffff;
    background: #26baa4;
    padding: 10px 40px;
    text-decoration: none;
    border: solid 0px;

  }

  .btn-mac {
    -webkit-border-radius: 25;
    -moz-border-radius: 25;
    border-radius: 25px;
    -webkit-box-shadow: 0px 2px 3px #6173ff;
    -moz-box-shadow: 0px 2px 3px #6173ff;
    box-shadow: 0px 2px 3px #6173ff;
    color: #ffffff;
    font-size: 18px;
    background: #6173ff;
    padding: 10px 40px;
    text-decoration: none;
    border: solid 0px;
  }




/* Footer */

.footer{
    background-color: rgba(159, 171, 178, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0;
    padding: 10% 0 0;
}

.footer a{
    color:var(--darkgray);
    text-decoration: none;
    padding: 1rem;
}

.footer img{
    width: 2.5rem;
}

.footer .social-icons img{
    width: 1rem;
    margin: 1rem;
}

.social-icons img{
    cursor: pointer;
}


@media (min-width:1024px){

    .container{
        background-image: url('../images/bg-header-desktop.png');
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 100%;
    }

    .header{
        margin: 0 20rem;
    }

    .header .logo{
        padding-bottom: 1rem;
    }

    .header p{
        padding: 0 7rem;
        font-size: 18px;
    }

    .download-button{
        display: flex;
        justify-content: center;
    }
    .mid-content p{
        padding: 0 30rem 4rem;
    }

    .mid-content .device-logo{
        width: 50rem;
        float: left;
        position: relative;
        right: 2rem;
    }

    
    .storage{
        text-align: left;
        margin-top: 5rem;
    }
    .storage h2{
        margin-left: 57%;
    }

    .storage p{
        margin-left: 25rem;
        padding-right: 18rem;
        padding-bottom: 3rem;
    }

    /* Access Content */
    .access-content .device-logo{
        width: 45rem;
        margin-bottom: 0;

    }

    .access-content .all{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 4rem;
    }

    .access-content .first{
        padding: 0 30rem;
   
    }
/* Compaines */
    .companies{
        flex-direction: row;
        justify-content: space-between;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .clipboard p{
        padding: 0 23rem;
    }

    .btn-ios:hover, .btn-mac:hover{
        cursor: pointer;
        opacity: .7;
    }
/* Footer */
    .footer{
        padding: 1rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
        text-align:left ;
    }

    .footer img{
        grid-area: 1 / 1 / 3 /2;
        margin: 0 auto;
    }

    .footer a:nth-child(3){
        grid-area: 2 / 2 / 2 / 3;
    }

    .footer a:nth-child(5){
        grid-area: 2 / 3 / 2 / 3;
    }

    .social-icons{
        grid-area: 1 / 5 / 3 / 5;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .social-icons img{
        padding-top: 2%;
    }

    .social-icons i:hover{
        cursor: pointer;
        color: #26baa4;
    }
}
